/* ========================================================== */
@media (max-width: 700px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background: #d7eff0;
  }
  .header-container {
    background: rgb(49, 66, 66);
    background: linear-gradient(
      114deg,
      rgba(49, 66, 66, 1) 72%,
      rgba(241, 86, 66, 1) 72%,
      rgba(241, 86, 66, 1) 86%,
      rgba(200, 232, 84, 1) 86%
    );
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .icon {
    width: 10rem;
    padding: 0rem 2rem 0rem 2rem;
  }
  .store-title {
    font-family: "Alata", sans-serif;
    color: #c8e854;
    font-size: 2rem;
  }
  .image_container {
    margin-top: 1rem;
  }
  .image_div {
    display: flex;
    justify-content: center;
  }

  .item_image {
    width: 20rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(138, 137, 137);
    margin-bottom: 1rem;
  }
  .item_slot {
    width: 30%;
    float: left;
    padding: 3px;
    margin: 1px;
  }
  .item_name,
  .item_price {
    font-family: "Roboto Mono", monospace;
    display: flex;
    justify-content: center;
    word-break: break-word;
    margin-top: -5px;
  }
  .price_wapper {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
  }
  .price_div {
    width: 10rem;
    height: 4rem;
  }
  button {
    height: 2rem;
    width: 100%;
    background-color: #f15642;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.5rem;
    border: 1px solid;
    outline: none;
    transition: 0.5s;
  }
  button:hover {
    background-color: #ee8175;
    cursor: pointer;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: "Alata", sans-serif;
  }
  a {
    text-decoration: none;
    color: #f15642;
  }

  .twitter {
    width: 15%;
  }
  .socials {
    display: flex;
    align-items: center;
  }
}
/* ==================================================== */
/* ==================================================== */
/* ==================================================== */
@media (min-width: 700px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    background: #d7eff0;
  }
  .header-container {
    background: rgb(49, 66, 66);
    background: linear-gradient(
      114deg,
      rgba(49, 66, 66, 1) 72%,
      rgba(241, 86, 66, 1) 72%,
      rgba(241, 86, 66, 1) 86%,
      rgba(200, 232, 84, 1) 86%
    );
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .icon {
    width: 10rem;
    padding: 0rem 2rem 0rem 2rem;
  }
  .store-title {
    font-family: "Alata", sans-serif;
    color: #c8e854;
    font-size: 2rem;
  }

  .image_container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    align-items: center;
  }
  .image_div {
    display: flex;
  }

  .item_image {
    width: 20rem;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(138, 137, 137);
  }
  .name_div {
    display: inline-block;
  }
  .item_name {
    font-family: "Roboto Mono", monospace;
    word-break: keep-all;
    padding: 0rem 5rem 0rem 5rem;
    height: 3rem;
    display: flex;
  }

  .item_price {
    font-family: "Roboto Mono", monospace;
    word-break: keep-all;
    padding: 0rem 10rem 0rem 10rem;
  }

  button {
    display: flex;
    justify-content: center;
    height: 2rem;
    background-color: #f15642;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    outline: none;
    padding: 0rem 25% 0rem 25%;
    margin: 0rem 5rem 0rem 5rem;
    transition: 0.5s;
  }
  button:hover {
    background-color: #ee8175;
    cursor: pointer;
  }
  a {
    text-decoration: none;
    color: #f15642;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    font-family: "Alata", sans-serif;
  }

  .twitter {
    width: 15%;
  }
  .socials {
    display: flex;
    align-items: center;
  }
}
