@media (max-width: 700px) {
  body {
    background: #d7eff0;
  }
  .header-container {
    background: rgb(49, 66, 66);
    background: linear-gradient(
      114deg,
      rgba(49, 66, 66, 1) 72%,
      rgba(241, 86, 66, 1) 72%,
      rgba(241, 86, 66, 1) 86%,
      rgba(200, 232, 84, 1) 86%
    );
    height: 7rem;
    width: 100%;
    display: flex;
    align-items: center;
  }
  .icon {
    width: 100px;
    padding: 0px 20px 0px 20px;
  }
  .store-title {
    font-family: "Alata", sans-serif;
    color: #c8e854;
    font-size: 2rem;
  }

  .items-place {
    font-family: "Roboto Mono", monospace;

    align-items: center;
    justify-content: center;
    margin-right: 14px;
    padding-left: 7vw;
  }

  .item_image {
    width: 50%;
  }
  .item_slot {
    width: 30%;
    float: left;
    padding: 3px;
    margin: 1px;
  }
  .item_name {
    display: flex;
    justify-content: center;
    word-break: break-word;
  }
  a {
    text-decoration: none;
    color: #f15642;
  }
  .item_price {
    display: flex;
    justify-content: center;
    word-break: break-word;
  }
  .footer {
    display: flex;
    text-align: center;
    background-color: #c4d6d6;
    width: 100%;
    height: 3rem;
    font-family: "Alata", sans-serif;
    float: right;
  }

  .twitter {
    width: 15%;
  }
  .socials {
    display: flex;
    align-items: center;
  }
}
